nav {
    text-align: center;
    background-color: silver;
    position: fixed;
    top: 0px;
    width: 100%
}

.nav-wrapper li {
    display: inline;
    padding: 20px;
}

.nav-wrapper a {
  color: blue;
}

#Memes {
  background-color: navy;
  height: 300px;
  padding: 50px 20px;
}

#Tweets {
  background-color: maroon;
  height: 500px;
  padding: 50px 20px;
}

#Videos {
  background-color: navy;
  height: 500px;
  padding: 50px 20px;
}

#whitetext {
  color: white;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a:hover{
    color: red;
    text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}
