*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align:center;
}

body, html{
height:100%;
margin: 0;
font-size: 10px;
font-family: "Roboto Condensed", sans-serif;
font-weight: 400;
line-height: 1.8rem;
color:#8483a8;
}

/* parallax scrolling style */
.bg1,.bg2,.bg3{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.7;
}

.bg1{
  background-image: url("bg1.JPG");
  min-height:100%;
  max-width:100%;
}

.bg2{
  background-image: url("bg2.jpg");
  min-height:200px;
}

.bg3{
  background-image: url("bg3.jpg");
  min-height:200px;
}

.parallax-container{
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

/* navigation bar style */
a{
  text-decoration: none;
  color: #8483a8;
}

nav{
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.nav-title{
  font-size: 3rem;
  font-weight: 300;
}

.nav-title span{
  font-family: "Mrs Saint Delafield", cursive;
  letter-spacing: 2px;
  text-transform: lowercase;
}

nav ul{
  display: flex;
}

nav li{
  list-style: none;
}

nav ul li a{
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

a:hover{
  color: #CCBAC9;
}

/* intro text style */
.intro-text span{
  font-family: "Mrs Saint Delafield", cursive;
  font-size: 40px;}

  .intro-text{
    position:absolute;
    top:20%;
    left:35%;
    width:30%;
    text-align: center;
    font-size: 16px;
    line-height: 2.5rem;
  }

/* general section style */
section{
  padding: 5% 10%;
}


/* about section style -- split into right section and crest section */

    /* Couldn't figure out how to limit the height of a specific section */
section #About{
    max-height: 900px;
}

#About{
    line-height: 3rem;
}

h2{
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

#About p{
  font-size: 14px;
}

.about-section-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section-text p{
  font-size:14px;
  text-align:left;
  padding: 10px;
  width:70%;
}

.about-section-text h3{
  font-size: 15px;
  text-align: left;
  padding: 10px;
}

.right-section{
  position:relative;
}

.crest{
  display: block;
}

.crest h4{
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

/* Core Pillars Title on Background */
.pillars-title h5{
    padding-top:10%;
}

h5{
  color: white;
  font-size:50px;
  text-align:center;
}

.bg2 .pillars-title h6{
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
  padding-top:5%;
  padding-bottom: 10%;
}

.bg2{
  color:white;
}

/* pillars section style */
.pillars-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card{
  border: none;
}

.pillars-container{
  display: flex;
  align-items: flex-start;
}

/* sisters section style */
.bg3 h5{
  padding-top:5%;
}

p{
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

/* recruitment section */
#Recruitment{
  padding:10%;
  line-height: 3rem;
}

/* social media section */
.container h3{
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

.container a{
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

.first-column{
  padding-top: 30%;
}
