.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.greentext {
    color: green;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: darkblue;
}

li a{
  text-decoration: none;
  font-family: sans-serif;
  color: white;
}

li a:hover{
background-color: grey;
color: black;
}
nav ul li{
  display: inline;
}

div {
  width: 600px;
  border: 25px solid blue;
  padding: 25px;
  margin: 25px;
}

#redtext {
    color: darkred
}
